.search {
  @apply flex gap-2;
}

.search__search-wrapper {
  @apply flex rounded-md h-full border gap-2 p-2 transition-all duration-500 w-min;
}

.search__search-input {
  @apply bg-transparent text-xs outline-none h-3 w-20 md:h-auto md:w-auto;
}

.search__user-wrapper {
  @apply flex items-center gap-1 bg-slate-800 rounded-md px-2 py-1;
}

.search__user-icon {
  @apply text-blue-400;
}

.search__user-select {
  @apply bg-transparent text-xs outline-none text-white;
}

.search__user-select option {
  @apply text-black;
}
