.search {
  @apply flex gap-2;
}

.search__search-wrapper {
  @apply flex rounded-md h-full border gap-2 p-2 transition-all duration-500 w-min;
}

.search__search-input {
  @apply bg-transparent text-xs outline-none h-3 w-20 md:h-auto md:w-auto;
}

.search__user-id {
  @apply  text-xs  bg-transparent text-center;
  width: 4ch;
  padding: 0 0.25rem;
}
